{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_over30/frontpage

    The over30 front page: a faithful reproduction of the mockup HomeView,
    built on Boost's drawers chrome (head / navbar / drawers / footer) with the
    editorial sections injected above the standard managed front-page content.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}
    {{#courseindex}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerheadercontent}}
                {{> theme_boost/courseindexdrawercontrols}}
            {{/drawerheadercontent}}
            {{$drawerheading}}{{> theme_boost/courseindexdrawerheading}}{{/drawerheading}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
            {{$closebuttonicon}}
                <span class="dir-rtl-hide">{{#pix}} e/sidebar_left, core {{/pix}}</span>
                <span class="dir-ltr-hide">{{#pix}} e/sidebar_right, core {{/pix}}</span>
            {{/closebuttonicon}}
        {{/ theme_boost/drawer}}
    {{/courseindex}}
    {{#hasblocks}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <div class="d-print-none">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </div>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
            {{$closebuttonicon}}
                <span class="dir-rtl-hide">{{#pix}} e/sidebar_right, core {{/pix}}</span>
                <span class="dir-ltr-hide">{{#pix}} e/sidebar_left, core {{/pix}}</span>
            {{/closebuttonicon}}
        {{/ theme_boost/drawer}}
    {{/hasblocks}}
    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
        <div id="topofscroll" class="main-inner">
            <div class="drawer-toggles d-flex">
                {{#courseindex}}
                    <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                        <button
                            class="btn btn-icon icon-size-3"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-courseindex"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            title="{{#str}}opendrawerindex, core{{/str}}"
                        >
                            <span class="visually-hidden">{{#str}}opendrawerindex, core{{/str}}</span>
                            <span class="dir-rtl-hide">{{#pix}} e/sidebar_left, core {{/pix}}</span>
                            <span class="dir-ltr-hide">{{#pix}} e/sidebar_right, core {{/pix}}</span>
                        </button>
                    </div>
                {{/courseindex}}
                {{#hasblocks}}
                    <div class="drawer-toggler drawer-right-toggle ms-auto d-print-none">
                        <button
                            class="btn btn-icon icon-size-3"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-blocks"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            title="{{#str}}opendrawerblocks, core{{/str}}"
                        >
                            <span class="visually-hidden">{{#str}}opendrawerblocks, core{{/str}}</span>
                            <span class="dir-rtl-hide">{{#pix}} e/sidebar_right, core {{/pix}}</span>
                            <span class="dir-ltr-hide">{{#pix}} e/sidebar_left, core {{/pix}}</span>
                        </button>
                    </div>
                {{/hasblocks}}
            </div>
            {{{ output.full_header }}}
            {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}

            {{! ============================ over30 front page ============================ }}
            {{#o30}}
            <div class="o30-home">

                {{! ----- over30 navigation (replaces Moodle navbar on the front page) ----- }}
                <header class="o30-nav">
                    <div class="o30-container o30-nav__inner">
                        <a class="o30-nav__brand" href="{{{config.wwwroot}}}/"><img src="{{logo}}" alt="over30" class="o30-nav__logo"></a>
                        <nav class="o30-nav__links">
                            <a href="#kursy">Kursy</a>
                            <a href="#dla-kogo">Dla kogo</a>
                            <a href="#spolecznosc">Społeczność</a>
                        </nav>
                        <div class="o30-nav__cta">
                            {{#loggedin}}
                                <a class="o30-nav__login" href="{{dashboardurl}}">Kokpit</a>
                                <a class="o30-btn o30-btn--solid" href="{{logouturl}}">Wyloguj</a>
                            {{/loggedin}}
                            {{^loggedin}}
                                <a class="o30-nav__login" href="{{loginurl}}">Zaloguj</a>
                                <a class="o30-btn o30-btn--solid" href="{{loginurl}}">Dołącz do nas</a>
                            {{/loggedin}}
                        </div>
                    </div>
                </header>

                {{! ----- Hero ----- }}
                <section class="o30-hero">
                    <div class="o30-hero__bg" aria-hidden="true"></div>
                    <div class="o30-container o30-hero__grid">
                        <div class="o30-hero__copy o30-reveal">
                            <span class="o30-label">Platforma Premium</span>
                            <h1 class="o30-hero__title o30-serif">
                                Twoje 30+ to <br>
                                <em>dopiero początek.</em>
                            </h1>
                            <p class="o30-hero__sub">
                                Ekskluzywna przestrzeń rozwoju dla ambitnych. Profesjonalne kursy, mentoring na najwyższym poziomie i sieć kontaktów, która zmienia zasady gry.
                            </p>
                            <div class="o30-hero__actions">
                                <a href="#kursy" class="o30-btn o30-btn--solid">
                                    <span>Rozpocznij naukę</span>
                                    <svg class="o30-arrow" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                </a>
                                <a href="#kursy" class="o30-btn o30-btn--outline">Odkryj programy</a>
                            </div>
                        </div>
                        <div class="o30-hero__media o30-reveal">
                            <div class="o30-hero__imgwrap">
                                <img src="{{hero}}" alt="Elegancja i profesjonalizm" class="o30-hero__img">
                            </div>
                            <div class="o30-hero__badge">
                                <p>Dołącz do ponad 2,500 liderów i ekspertów w Polsce.</p>
                            </div>
                        </div>
                    </div>
                </section>

                {{! ----- Trust strip ----- }}
                <section class="o30-trust">
                    <div class="o30-container o30-trust__inner">
                        <p class="o30-trust__label">Wspominają o nas</p>
                        <div class="o30-trust__logos">
                            <span class="o30-serif o30-trust__vogue">Vogue</span>
                            <span class="o30-trust__forbes">Forbes<span>Women</span></span>
                            <span class="o30-serif o30-trust__wo"><em>Wysokie Obcasy</em></span>
                            <span class="o30-trust__elle">ELLE</span>
                        </div>
                    </div>
                </section>

                {{! ----- Features ----- }}
                <section class="o30-features">
                    <div class="o30-container o30-features__grid">
                        <div class="o30-features__head">
                            <h2 class="o30-serif o30-features__title o30-reveal">
                                Rozwój <br><em>bez kompromisów.</em>
                            </h2>
                        </div>
                        <div class="o30-features__items">
                            {{#features}}
                            <div class="o30-feature o30-reveal">
                                <span class="o30-feature__num o30-serif">{{number}}</span>
                                <h3 class="o30-feature__title">{{title}}</h3>
                                <p class="o30-feature__desc">{{desc}}</p>
                            </div>
                            {{/features}}
                        </div>
                    </div>
                </section>

                {{! ----- Authored programmes (dark) ----- }}
                <section id="kursy" class="o30-courses o30-dark">
                    <div class="o30-container">
                        <div class="o30-courses__head">
                            <div class="o30-reveal">
                                <span class="o30-label">Kolekcja</span>
                                <h2 class="o30-serif o30-courses__title">Programy <em>Autorskie</em></h2>
                            </div>
                            <a href="{{courselisturl}}" class="o30-courses__more o30-reveal">
                                <span>Zobacz pełną ofertę</span>
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </a>
                        </div>
                        <div class="o30-coursegrid">
                            {{#courses}}
                            <a href="{{url}}" class="o30-card o30-reveal">
                                <div class="o30-card__media">
                                    <img src="{{img}}" alt="{{title}}" class="o30-card__img">
                                    {{#cat}}<span class="o30-card__badge">{{cat}}</span>{{/cat}}
                                </div>
                                <h3 class="o30-serif o30-card__title">{{title}}</h3>
                                <div class="o30-card__foot">
                                    <span class="o30-card__instr">{{instructor}}</span>
                                    <span class="o30-card__arrow">
                                        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                </div>
                            </a>
                            {{/courses}}
                        </div>
                    </div>
                </section>

                {{! ----- Target audience ----- }}
                <section id="dla-kogo" class="o30-audience">
                    <div class="o30-container o30-audience__grid">
                        <div class="o30-audience__copy o30-reveal">
                            <h2 class="o30-serif o30-audience__title">
                                Zaprojektowane z myślą <br><em>o Tobie.</em>
                            </h2>
                            <div class="o30-audience__list">
                                {{#audience}}
                                <div class="o30-audience__item">
                                    <span class="o30-audience__rule" aria-hidden="true"></span>
                                    <p>{{text}}</p>
                                </div>
                                {{/audience}}
                            </div>
                        </div>
                        <div class="o30-audience__media o30-reveal">
                            <div class="o30-audience__imgwrap">
                                <img src="{{desk}}" alt="Lifestyle" class="o30-audience__img">
                            </div>
                            <div class="o30-audience__blush" aria-hidden="true"></div>
                        </div>
                    </div>
                </section>

                {{! ----- Testimonials ----- }}
                <section id="spolecznosc" class="o30-testimonials">
                    <div class="o30-container">
                        <div class="o30-testimonials__head o30-reveal">
                            <h2 class="o30-serif o30-testimonials__title">Społeczność over<em>30.</em></h2>
                            <p class="o30-testimonials__sub">Ekskluzywne grono kobiet i mężczyzn, którzy kształtują przyszłość biznesu.</p>
                        </div>
                        <div class="o30-testimonials__grid">
                            {{#testimonials}}
                            <div class="o30-tcard o30-reveal">
                                <span class="o30-tcard__bar" aria-hidden="true"></span>
                                <div class="o30-tcard__stars">
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                </div>
                                <p class="o30-tcard__quote">&ldquo;{{quote}}&rdquo;</p>
                                <div class="o30-tcard__author">
                                    <span class="o30-tcard__avatar o30-serif">{{initial}}</span>
                                    <div>
                                        <div class="o30-tcard__name">{{name}}</div>
                                        <div class="o30-tcard__role o30-serif"><em>{{role}}</em></div>
                                    </div>
                                </div>
                            </div>
                            {{/testimonials}}
                        </div>
                    </div>
                </section>

                {{! ----- CTA ----- }}
                <section class="o30-cta">
                    <div class="o30-cta__bg" style="background-image:url('{{cta}}');" aria-hidden="true"></div>
                    <div class="o30-cta__overlay" aria-hidden="true"></div>
                    <div class="o30-cta__inner o30-reveal">
                        <h2 class="o30-serif o30-cta__title">
                            Gotowy na swój <br><em>najlepszy rozdział?</em>
                        </h2>
                        <p class="o30-cta__sub">Dołącz do ekskluzywnego grona. Zdobądź wiedzę, która buduje przewagę.</p>
                        <a href="#kursy" class="o30-btn o30-btn--light o30-cta__btn">Aplikuj o dostęp</a>
                    </div>
                </section>

                {{! ----- Footer ----- }}
                <footer class="o30-footer">
                    <div class="o30-container">
                        <div class="o30-footer__top">
                            <div class="o30-footer__brand">
                                <img src="{{logolight}}" alt="over30" class="o30-footer__logo">
                                <p class="o30-footer__about">
                                    Marka edukacyjna premium. Przestrzeń rozwoju zawodowego i osobistego dla osób, które stawiają na jakość bez kompromisów.
                                </p>
                            </div>
                            <div class="o30-footer__col">
                                <h4>Platforma</h4>
                                <ul>
                                    <li>Kolekcja Kursów</li>
                                    <li>Sesje Mentoringowe</li>
                                    <li>Klub over30</li>
                                </ul>
                            </div>
                            <div class="o30-footer__col">
                                <h4>Informacje</h4>
                                <ul>
                                    <li>Manifest</li>
                                    <li>Dla kogo</li>
                                    <li>Kontakt</li>
                                </ul>
                            </div>
                        </div>
                        <div class="o30-footer__bottom">
                            <p>&copy; {{year}} over30. Wszelkie prawa zastrzeżone.</p>
                            <div class="o30-footer__legal">
                                <span>Regulamin</span>
                                <span>Polityka Prywatności</span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            {{/o30}}

            {{! ============ Standard managed front-page content (admin editable) ============ }}
            <div id="page-content" class="pb-3 d-print-block">
                <div id="region-main-box">
                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div> {{{ regionmainsettingsmenu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    <div id="region-main">

                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}
                        {{#overflow}}
                            <div class="container-fluid tertiary-navigation">
                                <div class="navitem">
                                    {{> core/tertiary_navigation_selector}}
                                </div>
                            </div>
                        {{/overflow}}
                        {{{ output.main_content }}}
                        {{{ output.activity_navigation }}}
                        {{{ output.course_content_footer }}}

                    </div>
                </div>
            </div>
        </div>
        {{> theme_boost/footer }}
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
// over30 scroll reveal.
(function() {
    var reveal = function() {
        var els = document.querySelectorAll('.o30-reveal');
        if (!('IntersectionObserver' in window)) {
            els.forEach(function(el) { el.classList.add('is-visible'); });
            return;
        }
        var io = new IntersectionObserver(function(entries) {
            entries.forEach(function(e) {
                if (e.isIntersecting) {
                    e.target.classList.add('is-visible');
                    io.unobserve(e.target);
                }
            });
        }, { rootMargin: '0px 0px -80px 0px' });
        els.forEach(function(el) { io.observe(el); });
    };
    if (document.readyState !== 'loading') { reveal(); }
    else { document.addEventListener('DOMContentLoaded', reveal); }
})();
{{/js}}
